<header>
  <span class="home">
    <%= link_to root_path, class: "home-link" do %>
      <div class="glyph">&empty;</div>
    <% end %>
  </span>
  <h1 class="page-title">EDIT ENTRY</h1>
</header>

<main class="content">
  <%= render 'form' %>

  <%= render 'media' %>
</main>

<footer class="footer"><%= link_to 'Index', entries_path, class: "primary-link" %></footer>
