<div class="title-page">
  <div class="title-block">
    <h1 class="project-title">Notes</h1>
    <h2 class="project-sub-title">ON CARE</h2>
  </div>

  <%= link_to 'Entries', controller: 'entries' %>
</div>
