/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*

Browser Reset
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)

*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Application Styles */

:root {
	/* Colors */
	--primary: rgb(59, 59, 59, 0.95);
	--secondary: rgb(103, 151, 202);
	--background: #DBDAE0;
	--light: #efefef;
	--shadow: rgb(59, 59, 59, 0.1);

	/* Font Sizes */
	--font-size-s: 0.9rem;
	--font-size-m: 1rem;
	--font-size-l: 2rem;
	--font-size-xl: 6rem;

	--font-family: 'Montserrat', sans-serif;

	/* Spacing */
	--grid-base: 4px;

	/* Other */
	--border-radius: 5px;
}

html {
	height: 100%;
}

body {
	background-color: var(--background);
	color: var(--primary);
	display: grid;
	font-family: var(--font-family);
	font-size: var(--font-size-m);
	grid-template-rows: 100px auto 100px;
	min-height: 100%;
}

a {
	text-decoration: none;
}

/* Main Page Sections */
.header {
	grid-row-start: 1;
}

.page-title {
  letter-spacing: 0.2rem;
  padding: calc(10 * var(--grid-base));
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
	width: 100%;
	grid-row-start: 2;
}

.footer {
	grid-row-start: 3;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

/* Generic Components */
.primary-link {
	background-color: var(--primary);
	color: var(--background);
	padding: var(--grid-base) calc(8 * var(--grid-base));
}


/* Home link */

.home {
  position: absolute;
  top: 0;
  left: calc(5 * var(--grid-base));
}

.home-link {
	display: block;
	color: var(--primary);
	padding: calc(4 * var(--grid-base));
}

.glyph{
	transition: transform 1s;
}

.home-link:hover {
	background-color: var(--shadow);
}

.home-link:hover > .glyph {
	transform: rotate(90deg);
}

input, textarea {
	background: var(--light);
	border: none;
	border-radius: var(--border-radius);
	font-family: var(--font-family);
	margin-bottom: calc(6 * var(--grid-base));
	min-width: 300px;
	padding: calc(2 * var(--grid-base)) calc(4 * var(--grid-base));
}

input[type="submit"] {
	background: transparent;
	border: 1px solid var(--primary);
	cursor: pointer;
	font-family: var(--font-family);
	min-width: 0;
  padding: calc(2 * var(--grid-base)) calc(4 * var(--grid-base));
}

input[type="submit"]:focus {
  outline: 1px dashed var(--secondary);
}

input[type="submit"]:hover {
	background-color: var(--shadow);
}
