// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.page-title {
  letter-spacing: 0.2rem;
  padding: calc(10 * var(--grid-base));
}

.list-wrapper {
	max-width: 500px;
  width: 60vw;
}

.list-item {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  padding: calc(4 * var(--grid-base)) calc(4 * var(--grid-base));
}

.entry-title {
  font-weight: 300;
  font-size: var(--font-size-s);
  font-style: italic;
}

.entry-title-block {
  display: flex;
  flex-direction: column;
}

.entry-index {
  font-size: var(--font-size-l);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
}

.footer {
  grid-row-start: 2;
  grid-row-end: 3;
}

.general-notes {
  width: 100%;
}

.note-entry {
  font-weight: 300;
  font-style: italic;
}
